<body class="animated fadeIn">
    <div class="slide">
        <app-header></app-header>
        <div class="titulo animated bounceInDown"></div>
        <div class="textouno animated delay-1s bounceInLeft"></div>
        <div class="textodos animated delay-1s bounceInRight"></div>
        <div class="animacion1"></div>
        <div class="porcentaje1 animated fadeIn delay-2s"></div>
        <div class="animacion2"></div>
        <div class="porcentaje2 animated fadeIn delay-2s"></div>
        <div class="nota animated bounceInUp"></div>
        <app-footer></app-footer>
    </div>
</body>