<body class="animated fadeIn">
    <div class="slide">
        <app-header></app-header>
        <div class="titulo"></div>

        <div class="textouno animated bounceInDown"></div>

        <div class="textodos animated bounceInLeft"></div>
        <div class="textotres animated bounceInRight"></div>
        <div (click)="togglePop1()" class="btnlupauno"></div>

        <app-footer></app-footer>
        <div *ngIf="contenPop" class="popcontainer animated fadeIn"></div>
        <div *ngIf="pop1" class="pop1 animated fadeIn"></div>
        <div (click)="closePop()" *ngIf="contenPop" class="btncerrar animated fadeIn"></div>

    </div>
</body>