<body class="animated fadeIn">
    <div class="slide">
        <app-header></app-header>
        <div class="titulo"></div>
        <div class="figuraglobo"></div>
        <div class="globo">
            <div class="mapfront"></div>
            <div class="mapback"></div>
            <div class="back"></div>
            <div class="frontal"></div>
        </div>
        <div class="modelo animated fadeIn delay-1s"></div>
        <div class="texto1 animated zoomIn delay-1s"></div>
        <div class="texto2 animated zoomIn delay-1s"></div>
        <app-footer></app-footer>
    </div>
</body>