.titulo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 645px;
    height: 153px;
    background: url(../../../assets/img/slideonce/tutulos11.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.textouno {
    position: absolute;
    top: 249px;
    left: 95px;
    width: 453px;
    height: 274px;
    background: url(../../../assets/img/slideonce/testos11_1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.textodos {
    position: absolute;
    top: 260px;
    left: 656px;
    width: 495px;
    height: 294px;
    background: url(../../../assets/img/slideonce/titulos11_2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.referencias {
    position: absolute;
    top: 571px;
    left: 95px;
    width: 1108px;
    height: 169px;
    background: url(../../../assets/img/slideonce/referencias11.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
    position: absolute;
    top: 43px;
    right: 100px;
    width: 144px;
    height: 84px;
    background: url(../../../assets/img/slideonce/logos11.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}